<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.ux360.asia/" target="__blank">
                        <img src="img/logos/ux360.asia.png" class="img-responsive img-centered" alt="ux360.asia">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.netadmedia.ltd.uk/">
                        <img src="img/logos/namltd_logo_400px.jpg" class="img-responsive img-centered" alt="NetAdMedia Ltd">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#">
                        <img src="img/logos/megamart.lk.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
               
            </div>
        </div>
    </aside>